################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApiMicroservicios3/Entities/obj/Debug/netstandard2.0
